@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  cursor: none;
}

body {

  position: relative;
  background: #3F0A81;
  color: white;
  height: 100vh;
  overflow: hidden;
  height: 1080px;
  

}

.zombie {
  background: linear-gradient(180deg, rgba(0, 194, 255, 0.32) 41.62%, rgba(255, 3, 230, 0.3072) 103.61%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-weight: 800;
  

}

.cursor {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #FF00F5;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
}